Repository odlgroup/odl, pull requests merged in 2020-04, with the labels that each got.

#1553 TST: Fix largescale pytest mark issue
  doc/source/dev/testing.rst
  odl/pytest.ini
  odl/test/largescale/solvers/nonsmooth/default_functionals_slow_test.py
  odl/test/largescale/space/tensor_space_slow_test.py
  odl/test/largescale/tomo/analytic_slow_test.py
  odl/test/largescale/tomo/ray_transform_slow_test.py
  odl/test/largescale/trafos/fourier_slow_test.py
  odl/test/space/tensors_test.py
  odl/test/test_doc.py
  odl/test/test_examples.py
  odl/test/util/normalize_test.py
  odl/util/pytest_config.py
  odl/util/testutils.py
  setup.cfg
Labels: topic: testing, type: bug

#1556 Proximal to contrib and remove mrc
  odl/contrib/mrc/README.md
  odl/contrib/mrc/examples/data/test.mrc
  odl/contrib/mrc/examples/mrc_io.py
  odl/contrib/mrc/examples/raw_binary_with_header_io.py
  odl/contrib/mrc/mrc.py
  odl/contrib/mrc/test/mrc_test.py
  odl/contrib/mrc/test/uncompr_bin_test.py
  odl/contrib/mrc/uncompr_bin.py
  odl/contrib/solvers/__init__.py
  odl/contrib/solvers/operator/__init__.py
  odl/contrib/solvers/operator/proximal_lang.py
  odl/operator/oputils.py
Labels: area: contrib, topic: maintenance

#1540 Support `RayTransform` custom backends
  odl/test/tomo/backends/astra_cuda_test.py
  odl/test/tomo/operators/ray_trafo_test.py
  odl/tomo/README.md
  odl/tomo/backends/__init__.py
  odl/tomo/backends/astra_cpu.py
  odl/tomo/backends/astra_cuda.py
  odl/tomo/backends/skimage_radon.py
  odl/tomo/backends/util.py
  odl/tomo/operators/ray_trafo.py
Labels: area: tomo, status: in revision, type: api change, type: enhancement

#1441 ENH: add `binning` function
  odl/test/util/numerics_test.py
  odl/util/numerics.py
Labels: area: core, type: new feature
